.modal input[type=text],
input[type=number] {
    width: 94%;
    margin: 4px;
    line-height: 28px;
    padding-left: 8px;
    border-radius: 8px;
    border: 1px solid rgb(87, 87, 87);
}

.modal .checkboxContainer {
    position: relative;
    width: 100%;
    margin-top: 4px;
    margin-left: 6px;
}

.modal .checkboxContainer span {
    position: absolute;
    left: 30px;
    top: 2px;
}

.modal input[type=checkbox] {
    width: 22px;
    height: 22px;
}

.modal .modalButtons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6px;
}

.modal .buttonEdit {
    display: block;
    width: 70%;
    background-color: #2d8530;
    color: white;
    padding: 6px 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    border: 1px solid rgb(0, 114, 0);
    border-radius: 4px;
    cursor: pointer;
}

.modal .buttonEdit:hover {
    background-color: #1d7a20;
}

.modal .modalButtons .buttonCancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #b32929;
    color: white;
    padding: 6px 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    border: 1px solid rgb(110, 15, 15);
    border-radius: 4px;
    cursor: pointer;
}

.modal .modalButtons .buttonCancel:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(146, 40, 40);
}